<table border="1px">
  <tr><th>Name</th></tr>
  <tr><td><%= @figure.name %></td></tr>
  <tr><th>Landmarks</th></tr>
  <tr><td>
  <ol>
  <% @figure.landmarks.each do |landmark| %>
      <li><a href="/landmarks/<%= landmark.id %>">
        <%= landmark.name %></a></li>
        <% end %>
      </ol>
    </td></tr>
  <tr><th>Titles</th></tr>
  <tr><td>
  <ol>
  <% @figure.titles.each do |title| %>
      <li><a href="/titles/<%= title.id %>">
        <%= title.name %></a></li>
        <% end %>
      </ol>
    </td></tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a><br>
<a class="button" href="/figures">Figures</a>
